---
layout: default
---

{% for post in site.posts %}
    <div class="ui basic vertical post segment">
        <div class="ui center aligned post-title text container">
            <a class="ui header" href="{{ post.url }}.html">{{ post.title }}</a>
        </div>
        <div class="ui post-excerpt text container">
            {{ post.excerpt }}
            <p><a href="{{ post.url }}.html">Keep reading...</a></p>
        </div>
        <div class="ui center aligned post-meta text container">
            <div class="text-grey"><i class="calendar outline icon"></i>{{ post.date | date_to_long_string }}</div>
            {% if post.tags.size > 0 %}
                <div class="ui horizontal link list">
                    <div class="item"><i class="tags icon"></i></div>
                    {% for tag in post.tags %}<div class="item">#{{ tag }}</div>{% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}