<div class="ui basic vertical masthead segment">
    <div class="ui center aligned text container">
        <a href="{{ '/' | relative_url }}">
            <img class="ui centered small logo image" src="{{ site.logo | relative_url }}" alt="logo.png">
        </a>
        <h1 class="ui header">
            {{ site.name }}
            <div class="sub header">{{ site.description }}</div>
        </h1>
        <div class="ui horizontal link list">
            <a class="item" href="{{ '/' | relative_url }}">Home</a>
            <a class="item" href="{{ '/' | relative_url }}">RSS</a>
            <a class="item" href="{{ '/' | relative_url }}">Archive</a>
        </div>
    </div>
</div>