---
layout: default
---
<div class="ui basic vertical post segment">
    <div class="ui center aligned text post-title container">
        <a class="ui header" href="{{ page.url }}.html">{{ page.title }}</a>
    </div>
    <div class="ui text post-content container">
        {{ content }}
    </div>
    <div class="ui center aligned text post-meta container">
        <div class="text-grey"><i class="calendar outline icon"></i>{{ page.date | date_to_long_string }}</div>
        {% if page.tags.size > 0 %}
            <div class="ui horizontal link list">
                <div class="item"><i class="tags icon"></i></div>
                {% for tag in page.tags %}<div class="item">#{{ tag }}</div>{% endfor %}
            </div>
        {% endif %}
    </div>
</div>