---
layout: default
---
<div class="ui basic vertical post segment">
    <div class="ui center aligned text post-title container">
        <div class="ui header">{{ page.title }}</div>
    </div>
    <div class="ui text post-content container">
        {{ content }}
    </div>
    <div class="ui center aligned text post-meta container">
        <div class="text-grey"><i class="calendar outline icon"></i>{{ page.date | date_to_string }}</div>
        {%- if page.tags.size > 0 -%}
            <div class="ui horizontal link list">
                {% for tag in page.tags %}<a class="item" href="{{ '/tags/' | relative_url }}#{{ tag }}"><i class="tag icon"></i>{{ tag }}</a>{% endfor %}
            </div>
        {%- endif -%}
        <div><a href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode" target="_blank"><img src="{{ '/images/cc/by-nc-nd.svg' | relative_url }}" alt="CC4.0 BY-NC-ND"></a></div>
    </div>
</div>